<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>가계부 분석</title>
    </head>
    <body>
        <div>
            <select name="query" id="query">
                <option value="total_summary">전체요약</option>
                <option value="monthly_summary_list">월별요약</option>
                <option value="category_summary">카테고리별요약</option>
                <option value="category_ratio">카테고리비중</option>
            </select>
            <button id="btn_query">조회</button>
        </div>
        <hr>

        <pre id="result"></pre>

        <script src="{{ url_for('static', filename='js/query.js') }}"></script>
    </body>
</html>