<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>가계부 분석</title>
    </head>
    <body>
        <div>
            <label for="monthly_summary">특정 연월 요약</label><br>
            <input id="year" placeholder="연도">
            <input id="month" placeholder="월">
            <button id="btn-monthly_summary">조회</button>
        </div>
        <div>
            <label for="category_ratio">카테고리별 비중</label><br>
            <button id="btn-category_ratio">조회</button>
        </div>

        <pre id="result"></pre>

        <script src="{{ url_for('static', filename='js/query.js') }}"></script>
    </body>
</html>